.btns {
  color: aliceblue;
  background-color: red;
  border: none;
  width: fit-content;
  height: 20px;
  margin-block-end: 20px;
}
.box {
  height: 150px;
  width: 150px;
  border: 2px solid rebeccapurple;
  margin-block-end: 20px;
  text-align: center;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}